*.class
*.log
/null/
/target/
/project/target/
/null/Coursier/cache/v1/https/repo1.maven.org/maven2/
/target/
/project/target/config-classes/$3bfe30998e4a9de9a607$.class
/project/target/config-classes/$3bfe30998e4a9de9a607.cache
/project/target/config-classes/$3bfe30998e4a9de9a607.class
/project/target/config-classes/$7c7205def936f42f2723$.class
/project/target/config-classes/$7c7205def936f42f2723.cache
/project/target/config-classes/$7c7205def936f42f2723.class
/project/target/config-classes/$1187beb5c0f5d1e54030$.class
/project/target/config-classes/$1187beb5c0f5d1e54030.cache
/project/target/config-classes/$1187beb5c0f5d1e54030.class
/project/target/config-classes/$b55a97e11296115254bc$.class
/project/target/config-classes/$b55a97e11296115254bc.cache
/project/target/config-classes/$b55a97e11296115254bc.class
/project/target/streams/_global/_global/_global/streams/out
/project/target/streams/_global/_global/csrLogger/_global/streams/out
/project/target/streams/_global/csrConfiguration/_global/streams/out
/project/target/streams/_global/csrProject/_global/streams/out
/project/target/streams/_global/ivyConfiguration/_global/streams/out
/project/target/streams/_global/ivySbt/_global/streams/out
/project/target/streams/_global/moduleSettings/_global/streams/out
/project/target/streams/_global/projectDescriptors/_global/streams/out
/project/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/project/target/streams/_global/update/_global/streams/out
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/input_dsp
/project/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.12/output_dsp
/project/target/streams/compile/_global/_global/compileBinaryFileInputs/previous
/project/target/streams/compile/_global/_global/compileOutputs/previous
/project/target/streams/compile/_global/_global/compileSourceFileInputs/previous
/project/target/streams/compile/_global/_global/dependencyClasspathFiles/previous
/project/target/streams/compile/_global/_global/discoveredMainClasses/data
/project/target/streams/compile/_global/_global/managedSourcePaths/previous
/project/target/streams/compile/compile/_global/streams/out
/project/target/streams/compile/compileIncremental/_global/streams/export
/project/target/streams/compile/compileIncremental/_global/streams/out
/project/target/streams/compile/copyResources/_global/streams/copy-resources
/project/target/streams/compile/copyResources/_global/streams/out
/project/target/streams/compile/dependencyClasspath/_global/streams/export
/project/target/streams/compile/exportedProducts/_global/streams/export
/project/target/streams/compile/externalDependencyClasspath/_global/streams/export
/project/target/streams/compile/internalDependencyClasspath/_global/streams/export
/project/target/streams/compile/managedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedClasspath/_global/streams/export
/project/target/streams/compile/unmanagedJars/_global/streams/export
/project/target/streams/runtime/dependencyClasspath/_global/streams/export
/project/target/streams/runtime/exportedProducts/_global/streams/export
/project/target/streams/runtime/externalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/fullClasspath/_global/streams/export
/project/target/streams/runtime/internalDependencyClasspath/_global/streams/export
/project/target/streams/runtime/managedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedClasspath/_global/streams/export
/project/target/streams/runtime/unmanagedJars/_global/streams/export
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/inputs
/project/target/scala-2.12/sbt-1.0/update/update_cache_2.12/output
/project/build.properties
